.custom-blue-button {
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 0;
  background-color: #18c5ff;
  border-color: #18c5ff;
  color: white;
}

.custom-blue-button:hover,
.custom-blue-button:focus,
.custom-blue-button:active {
  background-color: #58869d;
  border-color: #58869d;
  color: white !important;
}
